@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700");
html, body, div, p, ul {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  font-size: 12pt;
  background: url("../img/bg.png"); }

header {
  background: url("../img/bg-header.png");
  text-align: center;
  padding: 30px 10px;
  box-shadow: 0 0 100px 70px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #666;
  font-size: 135%; }
  header h1 {
    font-family: "Amatic SC", sans-serif;
    margin: 0;
    font-weight: 700; }
    header h1 a {
      text-decoration: none;
      display: block; }
    header h1 img {
      vertical-align: middle; }
    header h1 span {
      margin-left: 30px;
      display: inline-block;
      color: white;
      vertical-align: middle;
      line-height: 1em; }
      header h1 span em {
        font-style: normal;
        font-size: 200%; }
      header h1 span:after {
        content: '?';
        font-size: 280%;
        position: absolute;
        line-height: 0; }

.content.content-small {
  max-width: 400px;
  padding: 10px;
  margin: 20px auto; }

.content.content-medium {
  max-width: 1000px;
  padding: 10px;
  margin: 20px auto; }

.face-off {
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px; }
  .face-off .subject {
    font-size: 12pt;
    width: 50%;
    display: inline-block;
    max-width: 520px;
    vertical-align: middle;
    -webkit-transition: 1s ease-in-out opacity;
    transition: 1s ease-in-out opacity; }
    .face-off .subject.the-chosen-one {
      -webkit-transition: 1s ease-in-out all;
      transition: 1s ease-in-out all;
      width: 100%;
      -webkit-animation: 1.5s flash;
      animation: 1.5s flash; }
    .face-off .subject.the-deleted-one {
      -webkit-transition: 1s ease-in-out all;
      transition: 1s ease-in-out all;
      width: 0;
      opacity: 0; }
    .face-off .subject.incoming {
      opacity: 0; }
      .face-off .subject.incoming .subject-img-1 {
        margin-left: -600px; }
      .face-off .subject.incoming .subject-img-2 {
        margin-left: 300px; }
  .face-off .subject-name {
    font-family: "Amatic SC", sans-serif;
    font-size: 200%;
    line-height: 1em; }
  .face-off .subject-img {
    border: 10px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    -webkit-transition: 0.2s ease-in-out box-shadow, 0.5s ease-in-out margin;
    transition: 0.2s ease-in-out box-shadow, 0.5s ease-in-out margin; }
    .face-off .subject-img:hover {
      box-shadow: 0 0 26px rgba(0, 0, 0, 0.4); }

h2 {
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 300%; }

form.vertical-form {
  font-family: "Amatic SC", sans-serif;
  font-size: 200%; }
  form.vertical-form .form-group {
    margin-bottom: 30px; }
  form.vertical-form label {
    width: 100%; }
  form.vertical-form input {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: 5px 10px; }
    form.vertical-form input[type="file"] {
      padding: 5px 0;
      font-size: medium; }

.alert {
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 30px; }
  .alert ul {
    list-style: none; }
  .alert.alert-danger {
    background: rgba(255, 50, 50, 0.5); }
  .alert.alert-success {
    background: rgba(0, 150, 0, 0.5); }

footer {
  margin: 40px auto 30px;
  max-width: 1010px;
  border-top: 1px solid #ccc;
  padding: 10px 0 0; }
  footer ul {
    list-style: none;
    text-align: center; }
    footer ul li {
      display: inline-block;
      margin: 0 10px; }
      footer ul li a {
        text-decoration: none;
        color: #666; }

table {
  width: 100%;
  border-collapse: collapse; }
  table thead th {
    padding: 3px 5px;
    text-align: left;
    border-bottom: 2px solid #999; }
  table tbody td, table tbody th {
    padding: 3px 5px;
    border: 1px solid #999;
    border-left: none;
    border-right: none;
    text-align: left; }
  table tbody tr:hover {
    background: rgba(255, 255, 255, 0.3); }

@media only screen and (max-width: 480px) {
  header {
    font-size: 85%; }
    header h1 img {
      width: 140px; }
  .face-off .subject-img {
    border-width: 5px; } }

@-webkit-keyframes flash {
  0%, 100% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%); }
  10% {
    -webkit-filter: brightness(150%);
    filter: brightness(150%); } }

@keyframes flash {
  0%, 100% {
    -webkit-filter: brightness(100%);
    filter: brightness(100%); }
  10% {
    -webkit-filter: brightness(150%);
    filter: brightness(150%); } }

/*# sourceMappingURL=app.css.map */
